version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: acm-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: acm-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  go-app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: myapp-go
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=acm-db
    volumes:
      - .:/app
    working_dir: /app
    command: go run main.go

volumes:
  postgres_data: